################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/TopflytechCodec/.vs/TopflytechCodec/FileContentIndex/66bdc890-bdcd-4445-a115-3cb4e48f1e0e.vsidx
